*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	/*min-height: 100vh;*/
	font-family: 'Space Mono', monospace;
	font-weight: 400;
}

img {
	display: block;
	max-width: 100%;
}

h1 {
	margin-bottom: 2.25rem;
	width: 15ch;
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: -0.035em;
	color: #333333;
}

p {
	margin-bottom: 4rem;
	width: 26ch;
	color: #4F4F4F;
}

a {
	padding: 1.5em 2.5em;
	display: inline-block;
	font-size: 0.875rem;
	font-weight: 700;
	background-color: #333;
	color: white;
	text-decoration: none;
}

.wrapper {
	/*border: 1px solid red;*/
	margin-inline: auto;
	max-width: 1100px;
	width: 90%;
}

.message {
	/*border: 1px solid blue;*/
	margin-top: 5rem;
	gap: 4rem;
	display: flex;
}

.image {
	/*border: 2px solid hotpink;*/
	max-width: 500px;
	display: flex;
	align-items: center;
}

.notfound {
	font-family: 'Inconsolata', monospace;
	font-size: 1.5rem;
	font-weight: 700;
	color: #333;
	letter-spacing: -0.08em;
	text-transform: uppercase;
}

@media (max-width: 750px) {
	.message {
		flex-direction: column;
	}

	.image {
		align-self: center;
	}

	.body {
		margin-bottom: 2rem;
	}

	h1 {
		font-size: 2.5rem;
	}
}